<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="LicenseContainers" type="LanaSoft.LicenseGenerator.LicenseContainersSectionHandler, LanaSoft.LicenseGenerator" />
	</configSections>
	<LicenseContainers>
		<Container 
		    name="MS CRM 3.0 Discount Package" 
			assembly="LanaSoft.Licensing.Usage.dll" 
			class="LanaSoft.Licensing.Usage.CRMDiscountPackageLicense" />
	</LicenseContainers>
	<appSettings>
		<add key="LicenseDefaultPath" value="Licenses\"></add>
		<add key="AllowedRoles" value="SVGCRM\Administrator"></add>
	</appSettings>
</configuration>
